.example-step-extra-class{
  border: 0;
}
.shepherd-button{
  background: #535bf2;
  color: white;
}
.shepherd-button:not(:disabled):hover{
  background: #747bff;
  color: white;
}
.shepherd-arrow:before{
  display: none;
}


::-webkit-scrollbar {
  //background-color: var(--color-background);
  width: 0;
  height: 0
}
.arco-list-item-content{
  word-break: break-all;
}
@media screen and (max-width: 576px){
  .arco-list-medium .arco-list-content-wrapper .arco-list-footer, .arco-list-medium .arco-list-content-wrapper .arco-list-content > .arco-list-item, .arco-list-medium .arco-list-content-wrapper .arco-list-content .arco-list-col > .arco-list-item, .arco-list-medium .arco-list-content-wrapper .arco-list-content.arco-list-virtual .arco-list-item{
    padding: 8px 12px;
  }
  .arco-card-size-medium .arco-card-body{
    padding: 10px;
  }
  .arco-card-size-medium .arco-card-header-title, .arco-card-size-medium .arco-card-meta-title{
    font-size: 14px;
  }
  .arco-card-size-medium .arco-card-header {
    height: 40px;
    padding: 10px 10px;
  }
  .arco-progress-size-large .arco-progress-line-text {
    font-size: 14px;
    margin-left: 16px;
  }
  .arco-timeline-item{
    min-height: 64px;
  }
  .arco-tooltip-content{
    display: none;
  }
  .arco-tooltip-popup-arrow{
    display: none !important;
  }
  .arco-list-header{
    font-size: 14px;
  }
}

.arco-form-item-label-col.arco-form-item-label-col-flex{
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}
  @media (max-width: 992px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    html {
      font-size: 14px;
    }
  }
