.example-step-extra-class{
  border: 0;
}
.shepherd-button{
  background: #535bf2;
  color: white;
}
.shepherd-button:not(:disabled):hover{
  background: #747bff;
  color: white;
}
.shepherd-arrow:before{
  display: none;
}

body{
  //background: #000;
  //overscroll-behavior-y: none;
}
::-webkit-scrollbar {
  //background-color: var(--color-background);
  width: 0;
  height: 0
}
